name: Publish Package

on:
  push:
    branches:
      - master

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    permissions:
      contents: read  # Optional, defaults to read
      packages: write  # Grants write permission to packages
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'  # Specify your .NET SDK version


      - name: Build the project
        run: dotnet build --configuration Release AvionRelay.slnx

      - name: Pack the project
        run: dotnet pack --configuration Release --no-build -o ./packages AvionRelay.slnx
        
      - name: List packages to be published
        run: ls -la ./packages/*.nupkg
          
      - name: Publish packages individually # Push individually for better error handling
        run: |
          for package in ./packages/*.nupkg; do
           echo "Publishing $package"
           dotnet nuget push "$package" --source "https://api.nuget.org/v3/index.json" --api-key ${{ secrets.NUGET_API_KEY }} --skip-duplicate || echo "Failed to publish $package"
          done